.LogoCss {
  margin-right: 10px;
}

.inputNavbar{
  width: 150px;
  height:30px;
  border-radius: 3px;
}

.buttonShop{
  width: 100px;
  height: 30px;
}

.button {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-left: 80px;
}

.buttonAdd {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 10px 50px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 5px;
  margin-left: 5px;
}

.buttonPlusMinus{
  background-color: white;
  color: blue;
  border-radius: 5px;
}

.label{
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 5px; 
  padding-bottom: 5px;
}

input[type=text] {
  border-radius: 5px;
}

input[type=checkbox] {
  width: 8mm;
  -webkit-appearance: none;
  -moz-appearance: none;
  height: 8mm;
  border: 0.1mm solid black;
}

input[type=checkbox]:checked {
  background-color: lightgreen;
}

input[type=checkbox]:checked:after {
  margin-left: 3mm;
  margin-top: -0,9mm;
  width: 3mm;
  height: 6mm;
  border: solid white;
  border-width: 0 2mm 2mm 0;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  content: "";
  display: inline-block;
}

.buttonShop {
  display: inline-block;
  height: 50px;
  padding: 0;
  margin: 0;
  vertical-align: top;
  width: 50px;
  margin-right: 20px;
  background-color: white;
}

.static {
  padding: "10px";
}
